# Ignore generated data, but keep parameter configurations.
/data/*
!/data/param_configs/
!/data/param_configs/**
!/data/data_transfer/
!/data/data_transfer/**
/mvs_package/*
# !/data/data_calib/
# /data/data_calib/*
# !/data/data_calib/.gitkeep
# !/data/data_transfer/
# /data/data_transfer/*
# !/data/data_transfer/.gitkeep
